# Ignore dataset files
data/
results/

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
venv/
.env

# Ignore Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Ignore logs and outputs
logs/

# Ignore build artifacts from setup.py
diagan_project/
dist/
build/
*.egg-info/